page-list {
	ion-content{
		background: linear-gradient(to top, #0a5c84, #1675a3);
	}
	.menu{
		font-family: Cambay;
	 font-size: 14px;
	 color: #ffffff;
	 text-align: left;
	 padding-left: 15px;
	   padding-top: 8px;
   }
}
