page-ova {
	ion-content{
		background: linear-gradient(to top, #0a5c84, #1675a3) !important;
	}
	ion-card{
		border-radius:5px !important;
		// height: 80%
	}

	.backbutton{
		margin-left: 13px;
		font-family: 'Cambay-Bold';
  		font-size: 14px;
 		margin-top: 1.4em;
	}
	.title{
		  font-family: 'Cambay-Bold';
		  font-size: 24px;
		  font-weight: bold;
		  text-align: left;
		  color: #ffffff;
	}
	.subtitle{
		  font-family: Cambay;
		  font-size: 16px;
		  text-align: left;
		  color: #ffffff;
		  margin-top: -20px
	}
	.practicetitle{
		font-family: 'Cambay';
		  font-size: 17px;
		  font-weight: bold;
		  text-align: left;
		  color: #656930;
	}
	.practicesubtitle{
		font-family: 'Cambay';
		  font-size: 12px;
		  text-align: left;
		  color: #656930;
	}
	.md-buttontext{
		
					
			  font-family: OpenSans;
			  font-size: 17px;
			  font-weight: 600;
			  text-align: left;
			  color: #2c0004;
		  
		
			}
			.subtext
			{
				
			  font-family: Cambay;
			  font-size: 14px;
			  text-align: left;
			  color: #ffffff;
			}
			.ion-card-content{
				padding: 0px 0px 0px !important;
			}
			.ion-card{
				height: 56px;
				border-radius: 5px !important;
			}

			.Synonymer {
				// width: 204px;
				height: 28px;
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: #afdc9b;
				color: var(--light-grey-green);
			  }

			.md-Synonymer{
				// background-color: #1675a3;
				// background-color: var(--nice-blue);

				// width: 204px;
				height: 28px;
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: #afdc9b !important;
				color: var(--light-grey-green);
			}
			.du-har-vat-denna-ka {
				// width: 269px;
				height: 23px;
				font-family: Cambay;
				font-size: 14px;
				text-align: left;
				color: #afdc9b !important;
				color: var(--light-grey-green);
			  }

			  .Metaforer {
				// width: 204px;
				height: 28px;
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: #ffffff;
			  }
			// checkbox-ios-background-color-off 	

			.md-button{
				// width: 334px;
				height: 56px;
				border-radius: 5px;
				background-color: #afdc9b;
				background-color: var(--light-grey-green);
				box-shadow: 0 1px 4px 0 rgba(106, 106, 106, 0.5);
			}

			.md-eller{
				font-family: Cambay;
				font-size: 16px;
				// text-align: center;
				color: #ffffff;
				// text-align: center;
			}
			// .md-card{
			// 	// width: 86px;
			// 	 // height: 56px;
			// 	 font-family: Cambay;
			// 	 font-size: 16px;
			// 	font-weight: bold;
			// 	  text-align: left;   color: #ffffff;
			// }

			// .md-label{
				
			// 	height: 30px;
			// 	// background-color: #1675a3 !important;
			// 	// background-color: var(--nice-blue);
			// }

			.md-lab{
				
                height: 86px;
                background-color: #1675a3;
                background-color: var(--nice-blue);
			}
			.md-labs{
				height: 86px;
				background-color: #1675a3 !important;
			}

			.md-synonymer{
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: #afdc9b;
			}

			.p-synonymer{
				// height: 23px;
				font-family: Cambay;
				font-size: 14px;
				text-align: left;
				color: #afdc9b
			}

			.md-meta{
				// height: 28px;
				font-family: Cambay;
				font-weight: bold;
				font-size: 17px;
				text-align: left;
				color: #ffffff;
			}

			.p-meta{
				// height: 28px;
				font-family: Cambay;
				font-size: 14px;
				// font-weight: bold;
				text-align: left;
				color: #ffffff;
			}

			.md-gram{
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: #afdc9b;
			}

			.p-gram{
				height: 23px;
				font-family: Cambay;
				font-size: 14px;
				text-align: left;
				color: #afdc9b;
			}

			.md-dial{
				font-family: Cambay;
				font-size: 17px;
				font-weight: bold;
				text-align: left;
				color: white
			}

			.p-dial{
				 
				height: 23px;
				font-family: Cambay;
				font-size: 14px;
				text-align: left;
				color: white;
			}

			.md-select{
				width: 86px;
				height: 26px;
				font-family: Cambay;
				font-size: 16px;
				font-weight: bold;
				text-align: left;
				color: #ffffff
			}

			.md-buttontext{
				margin-top: -37px;
				// width: 194px; 
				margin-left: 40px; 
				font-family: Cambay; 
				font-size: 17px;
				font-weight: bold;text-align: left;
				color: #656930;
			}
			
}

