<ion-content padding>

<ion-buttons left>
            <button ion-button clear color="white" (click)="popBack()">
                <ion-icon style="font-size: 4.2rem !important;" name="arrow-back"></ion-icon> <p class="backbutton">Back</p>
            </button>
        </ion-buttons>
<ion-grid>
        <ion-row align-items-center>

          <ion-col col-1>
          </ion-col>
          <ion-col col-2>
              <img src="../assets/image/versus.png" class="versus" style="width: 68PX;height: 42px;">
          </ion-col>
          <ion-col>
              <p class="Veckokampen"> 1 Mot 1 </p>
          <p class="fragor">15 frågor. Du möter en slumpmässig motståndare på samma nivå. </p>
          </ion-col>
        </ion-row>

      </ion-grid>



<div padding>
<hr style="border-top: dotted 2px;position: relative;/*! top: 174px; */color: #328eba;margin-top: -22px;" />


<p class="frgor-i ">25 frågor i varje duell. Flest poäng vinner. vi hittar en motståndare på samma nivå som dig. Fraågekategorien våljs slumpmaåssigt. Du har 10 minuter på dig</p>
</div>

<div style="background-color: transparent !important;" >

    <ion-segment [(ngModel)]="segment">
        
                    
                <ion-segment-button value="valj" style="color:white" >
                    Välj nivå
                    </ion-segment-button>
                        
    
                <ion-segment-button value="duellhistoria" style="color:white" >
                    Se duellhistoria
                    </ion-segment-button>
    
                        </ion-segment>

</div>


<div [ngSwitch]="segment">
    
    
            <ion-list *ngSwitchCase="'valj'" no-lines>
                <ion-item *ngFor="let valj of valjs; let i=index">
                    <ion-label></ion-label>
                    <ion-checkbox id="valj-{{ i }}" (ionChange)="addKpisToFilter($event, kpi)"></ion-checkbox>
    
                </ion-item>     
    
            </ion-list>
            <ion-list *ngSwitchCase="'duellhistoria'" no-lines class="listtop">
    
            <div *ngFor="let duellhistoria of duellhistorias">
                    
    
    
                <ion-item>	
                    <ion-label></ion-label>
                    <ion-checkbox id="entity-{{ i }}" checked="false" (ionChange)="addEntitiesToFilter($event, entity)">{{ entity.entityName }}</ion-checkbox>
                </ion-item>
    
                
                        
    
            </div>
            </ion-list>
    
    
    </div>
</ion-content>




                
        
            
        
    


   
    

 
       


