page-versus {

	ion-content{
		background: linear-gradient(to top, #0a5c84, #1675a3);
    }
    
    .backbutton{
         margin-left: 13px;
         font-family: 'Cambay-Bold';
          font-size: 14px;
          font-weight: bold;
          margin-top: 1.4em;
    }
    .back{
        color: white;
         
         font-family: Cambay;
        font-size: 14px;
         font-weight: bold;
         text-align: left;
        top: -6px;
         left: 3px;
        margin-top: 0.4rem;
    }

    .versus{
        width: 51.3px;
        height: 49px;
        // background-color: #afdb9b;
        // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        // border: solid 2.5px #ffffff;
    }

    .Veckokampen{
        
        height: 39px;
        font-family: Cambay;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        margin-left: 25px;
    }

    .fragor{
        
        height: 52px;
        font-family: Cambay;
        font-size: 16px;
        text-align: left;
        color: #ffffff;
        margin-left: 25px;
         margin-top: -21px;
    }

    .frgor-i{
        
        height: 92px;
        font-family: Cambay;
        font-size: 14px;
        text-align: left;
        color: #ffffff;
      }





      $num-of-tabs: 2;
      @mixin tabs {
          @for $i from 1 through $num-of-tabs {
            &:nth-of-type(#{$i}) {
              &.segment-activated {
                ~ .slide {
                  left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
                }
              }
            }
          }
        }
        .segment-button {
          border: 0 !important;
          @include tabs;
        }
  
    // 
      .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
          color: #fff !important;
       }
  
      .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
          color: #fff !important;
       }
      ion-toolbar{
          padding-bottom: 0px !important;
          
          ion-segment {
              ion-segment-button {
                  border-top: none !important;
                  border-left: none !important;
                  border-right: none !important;
                //   background: #1675a3 !important;
                background-color: transparent !important;
              
                  
              }
          }
          
      }
      ion-segment.segment.segment-ios{
        //   background-color: #1675a3 !important;
        background-color: transparent !important;
          border-top: none !important;
                  border-left: none !important;
                  border-right: none !important;
      }
  
      ion-segment-button.segment-button.segment-activated{
          border-bottom: 3px solid #afdc9b !important;
          border-top-left-radius: 0px !important;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
          margin-left: 0;
          border-left-width: 0;
      }
      ion-segment-button.segment-button{
          border: 0px !important;
          
      }
  
  
     
   
          .segment .segment-md .ng-untouched .ng-pristine .ng-valid{
          padding-top: 13px !important;
          
                      }
                      .toolbar-ios .segment-ios {
                           padding-top: 17px !important;
          
                      }
                      .slide {
                          background: dodgerblue;
                          width: calc(100% / #{$num-of-tabs});
                          height: 4px;
                          position: absolute;
                          left: 0;
                          top: calc(100% - 4px);
                          transition: left 0.3s ease-out;
                         }
}
