page-questions {

	ion-content{
		background: linear-gradient(to top, #0a5c84, #1675a3) !important;
	}

	.menu{
		 font-family: 'Cambay-Bold';
		 font-weight: bold;
	  font-size: 14px;
	  color: #ffffff;
	  text-align: left;
	  padding-left: 15px;
		padding-top: 8px;
	}
	.menuicon{
	  font-size: 35px;
	  font-weight: 900;
	}

	ion-card{
		border-radius: 5px !important;
  		background-color: #0f6791 !important;
  		box-shadow: inset 0 0 4px 0 rgba(34, 34, 34, 0.5) !important;
	}
	p{
	  font-family: Cambay !important;
	  font-size: 16px !important;
	  font-weight: bold !important;
	  text-align: center;
	  color: #ffffff !important;
	}

}
