page-ova {
	ion-content{
		background: linear-gradient(to top, #840a51, #1675a3) !important;
	}

	// .content .content-ios .statusbar-padding{
	// 	background: linear-gradient(to top, #840a51, #1675a3) !important;
		
	// }
	.buttontext{
		
					
			  font-family: OpenSans;
			  font-size: 17px;
			  font-weight: 600;
			  text-align: left;
			  color: #2c0004;
		  
		
			}
			.subtext
			{
				
			  font-family: Cambay;
			  font-size: 14px;
			  text-align: left;
			  color: #ffffff;
			}
			.ion-card-content{
				padding: 0px 0px 0px !important;
			}
			.ion-card{
				height: 56px;
				border-radius: 5px !important;
			}
}

